<a href="https://colab.research.google.com/github/waleed-kn/THIRD-SEMESTER/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
# Program to find the greatest of four numbers

# Taking input from the user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))
# Finding the greatest
greatest = num1
if num2 > greatest:
    greatest = num2
if num3 > greatest:
    greatest = num3
if num4 > greatest:
    greatest = num4
# Display result
print("The greatest number is:", greatest)

Enter first number: 2
Enter second number: 3
Enter third number: 4
Enter fourth number: 5
The greatest number is: 5

In [ ]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("enter the third number"))
num4=int(input("enter the fourth number"))
if num2>greatest:
  greatest=num2
if num3>greatest:
  greatest=num3
if num4>greatest:
  greatest=num4
print("the greatest number is",greatest)

enter the first number1
enter the second number2
enter the third number4
enter the fourth number5
the greatest number is 5

In [ ]:
# Program to check if a student is Pass or Fail

# Taking marks input for 3 subjects
sub1 = int(input("Enter marks of Subject 1: "))
sub2 = int(input("Enter marks of Subject 2: "))
sub3 = int(input("Enter marks of Subject 3: "))

# Total and percentage
total = sub1 + sub2 + sub3
percentage = (total / 300) * 100   # assuming each subject is out of 100

# Checking conditions
if sub1 < 33 or sub2 < 33 or sub3 < 33:
    print("Fail (less than 33 marks in a subject)")
elif percentage < 40:
    print("Fail (less than 40% overall)")
else:
    print("Pass")

# Displaying percentage
print("Your percentage is:", percentage, "%")

Enter marks of Subject 1: 45
Enter marks of Subject 2: 55
Enter marks of Subject 3: 66
Pass
Your percentage is: 55.333333333333336 %

In [ ]:
sub1=int(input("enter the first marks"))
sub2=int(input("enter the secomd number"))
sub3=int(input("enter the third number"))
total=sub1+sub2+sub3
percentage=(100/300)*100
if sub1<33 or sub2<33 or sub3<33:
  print("fail(fail less than 33)")
elif percentage<40:
  print("fail(fail less than 40 %)")
else:
  print("pass")
  print("your overall percentage is",percentage)

enter the first marks77
enter the secomd number88
enter the third number88
fail(fail less than 40 %)

In [ ]:
username=input("enter the username")
if len(username)<10:
  print("username contain less than 10 character")
else:
    print("user name contain more than 10 words")

enter the usernamewaleedkhan
user name contain more than 10 words

In [ ]:
# Program to print multiplication table of a given number

num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}:")
for i in range(1, 11):   # from 1 to 10
    print(f"{num} x {i} = {num * i}")

Enter a number: 7

Multiplication Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
num = int(input("Enter a number: "))

# Find remainder using modulus operator
remainder = num % 2

# Output
print("Remainder when", num, "is divided by 2 is:", remainder)

Enter a number: 4
Remainder when 4 is divided by 2 is: 0

In [ ]:
num=int(input("enter the number"))
print(f"multiplicaton of the table{num}")
for i in range(1,11):
  print(f"{num}x{i}={num*i}")

enter the number7
multiplicaton of the table7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [ ]:
num=int(input("enter the number to multiple it"))
print(f"multiplication of this number is {num}")
for i in range(1,11):
  print(f"{num}x{i}={num*i}")

enter the number to multiple it5
multiplication of this number is 5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [1]:
for i in range(1,5):
  for j in range(3,5):
    print(f"({i},{j})",end=" ")

(1,3) (1,4) (2,3) (2,4) (3,3) (3,4) (4,3) (4,4)

In [6]:
for i in range(1,5):
  for k in range(2,4):
    print(f"({i},{k})",end=" ")

(1,2) (1,3) (2,2) (2,3) (3,2) (3,3) (4,2) (4,3)

In [ ]:
num=int(input("enter the number"))
remainder=num%2
print("remainder is ",remainder)

In [ ]:
value=input("enter the number")
print("this is ",value)
print("type of the variable is",type(value))

In [ ]:
a=30
b=40
if(a>b):
  print("a is greater than b")
else:
    print("a is not gretaer tha b")

In [ ]:
num1=float(input("enter the number 1"))
num2=float(input("enter the number 2"))
average=(num1+num2)/2
print("average ",num1,"is",num2,average)

In [ ]:
num=int(input("enter the number to find the square of it"))
square=num*num
print("square of it ",num,"is",square)

In [ ]:
s='harry'
print(len(s))

5

In [ ]:
i="waleed"
print(i.endswith("eed"))
print(i.endswith("d"))
print(i.endswith("w"))

True
True
False

In [ ]:
a="Waleed"
print(a.count("e"))

2

In [ ]:
s="python programming"
print(s.capitalize())

Python programming

In [ ]:
w="waleed"
print(w.find("x"))

-1

In [ ]:
w="waleed"
print(w.find("d"))

5

In [ ]:
w="i like  to do python "
print(w.replace("like","love",))

i love  to do python

In [ ]:
w="apple apple apple"
print(w.replace("apple","mango",1))

mango apple apple

In [ ]:
print("hello\nworld")
print("hello\tworld")
print('it\'s python')
print("he said \"hi\"")

hello
world
hello	world
it's python
he said "hi"

In [ ]:
print("hello\nworld")
print("hello\tworld")
print("he said \"hey\"")
print("c:\\waleed\\waleed\\")
print("c:\\khan\\khan")

hello
world
hello	world
he said "hey"
c:\waleed\waleed\
c:\khan\khan